body {
}
.MenuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0E0B16;
    height: 40px;
}

.MenuBar-ListItem {
    float: left;
    display: inline-block;
    color: #E7DFDD;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

.MenuBar-ListItemRight {
    float: right;
    display: inline-block;
    color: #E7DFDD;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

.MenuBar-Link {
    display: inline-block;
    color: #E7DFDD;
    text-align: center;
    text-decoration: none;
}

.Member {
    float: right;

}

.ResourceButtons {
    font-family: Verdana;
    font-size: small;
    font-variant: small-caps;
    text-transform: none;
    color: #E7DFDD;
    text-align: center;
    background-color: #0E0B16;
    border-style: solid;
    border-radius: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 90%;
    max-width: 140px;

}

.UserStuff {
    max-width: 300px;
    left: 0px;
    margin: auto;
    align-items: flex-end;
    border: 3px solid #581e96; 
    width: 20%;
}

.ListButtons {
    margin: 2em;
    width: 10em;
    padding: 5px;
    list-style-type: none;
}

.Resources {
    max-width: 280px;
    margin: auto;
    align-items: flex-end;
    border: 1px dashed #581e96; 
}

.Column {
    float:left;
    padding:5px;
}

.clearfix::after{
    content:"";
    clear:both;
    display:table;
}
